<%- include('../partials/admin') %>
<body style="background-color: wheat;">
  

  <div class="container mt-5" >
    <div class="row">
      <div class="col-md-5">
        <div class="card-body">
          <form action="/add" method="POST" enctype="multipart/form-data">
            <input type="text" name="nombre" placeholder="Nombre" class="form-control mb-2" autofocus />
            <input type="text" name="descripcion" placeholder="Descripcion" class="form-control mb-2" />
            <input type="number" name="precio" placeholder="Precio" class="form-control mb-2" />
            <input type="file" accept="image/png,image/jpeg" id="urlImagen" name="urlImagen" class="form-control mb-2" autofocus />
            <input type="number" name="disponibilidad" placeholder="Disponibilidad" class="form-control mb-2" />
            <button type="submit" class="btn btn-info">Guardar Producto</button>
            <a type="submit" href="/productos" class="btn btn-info">Mostrar Todos</a>
          </form>
        </div>
      </div>
      <div class="col-md-7">
        <form method="GET" action="/buscar" class="mb-3">
          <div class="input-group">
            <input type="text" name="q" placeholder="Busque el ID..." class="form-control">
            <button type="submit" class="btn btn-outline-secondary">Buscar</button>
          </div>
        </form>
        <table class="table table-dark table-bordered table-hover">
          <thead>
            <tr>
              <th>ID</th>
              <th>Nombre</th>
              <th>Descripción</th>
              <th>Precio</th>
              <th>Imagen</th>
              <th>Disponibilidad</th>
              <th>Estado</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% if (data) { %>
              <% for(var i=0; i < data.length; i++) { %>
                <tr>
                  <td><%= data[i].id %></td>
                  <td><%= data[i].nombre %></td>
                  <td><%= data[i].descripcion %></td>
                  <td><%= data[i].precio %></td>
                  <td><img src="/uploads/<%= data[i].urlImagen %>" alt="<%= data[i].nombre %>" style="height: 150px; width:150px" /></td>
                  <td><%= data[i].disponibilidad %></td>
                  <td><%= data[i].estado %></td>
                  <td class="" style="white-space: nowrap;">
                    <a href="/estado/<%= data[i].id %>" class="btn btn-info me-2">Estado</a>
                    <a href="/update/<%= data[i].id %>" class="btn btn-info me-2">Editar</a>
                    <a href="/delete/<%= data[i].id %>" class="btn btn-danger me-2">Eliminar</a>
                  </td>
                </tr>
                <% } %>
                  <% } %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>